/*** АДАПТИВНЫЙ ШРИФТ ***/
.header__title {
	font-weight: 900;
	font-size: calc(21px + 29 * (100vw / 1280));
}

.header__text {
	font-weight: 500;
	font-size: calc(21px + 4 * (100vw / 1280));
}

.fullscreen__title {
	font-weight: 800;
	font-size: calc(20px + 15 * (100vw / 1280));
}

.fullscreen__text {
	font-size: calc(18px + 3 * (100vw / 1280));
}

.adapt__text {
	font-size: calc(12px + 8 * (100vw / 1280));
}

.adapt__name {
	font-size: calc(12px + 18 * (100vw / 1280));
}




.fullscreen__tite {
	font-weight: 800;
	font-size: calc(20px + 15 * (100vw / 1280))
}

.fullscreen__title_h2 {
	font-weight: 800;
	font-size: calc(21px + 21 * (100vw / 1280));
}

.form__title {
	font-weight: 700;
	margin: 0 0 30px 0;
	font-size: calc(20px + 19 * (100vw / 1280));
}

@media (max-width: 767px) {
	.header__title {
		font-weight: 900;
		font-size: calc(21px + (29 + 29 * 0.7) * ((100vw - 320px) / 1280));
	}

	.header__text {
		font-weight: 500;
		font-size: calc(21px + (4 + 4 * 0.7) * ((100vw - 320px) / 1280));
	}

	.fullscreen__title {
		font-size: calc(20px + (15 + 15 * 0.7) * ((100vw - 320px) / 1280));
	}

	.fullscreen__title_h2 {
		font-weight: 800;
		font-size: calc(21px + (21 + 21 * 0.7) * ((100vw - 320px) / 1280));
	}

	.form__title {
		font-weight: 900;
		font-size: calc(20px + (20 + 20 * 0.7) * ((100vw - 320px) / 1280));
	}
}