/*** Обнуление ***/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}


html,
body {
	height: 100%;
	/*
	background-color: darkorchid;
	*/
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;

	/*
	font-size: 21px;
	*/
}

/*** Шрифты fonts ***/
/*если есть свои шрифты на компе
- их лучше переконвертировать через сайт font 2 web*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
}

.font_maven {
	font-family: 'Montserrat', sans-serif;
}

@font-face {
	font-family: icons;
	font-display: swap;
	src: url('../fonts/icons.woff') format('woff2'), url('../fonts/icons.woff') format('woff');
	font-weight: 400;
	font-size: normal;
	color: #000;
}

/*** End of Шрифты fonts***/



.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	overflow: hidden;
	/*перенос слов если слишком длинные слова*/
	overflow-wrap: break-word;
}

/*** Ограничивающий контейнер ***/
._container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: content-box;
}

/*
.header {
	min-height: 100vh;
	background-color: blueviolet;
	display: flex;
	padding: 20px 0;
}
*/

.fullscreen {
	min-height: 100vh;
	display: flex;
	padding: 20px 0;
}

.screen {
	padding: 100px 0;
	display: flex;
}

/*** link ссылки ***/
.link_center {
	align-self: center;
}

.link_start {
	align-self: start;
}

/*** End of link ссылки ***/

/*** текст по центру или нет ***/
.text_center {
	text-align: center;
}

/*** End of текст по центру или нет ***/

.fullscreen_one {
	/* затемняем фоновую картинку 
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url('../Foto/cosmos.webp') center / cover no-repeat fixed;
	*/
	background: url('img/fone.jpg') center / cover no-repeat fixed;
}

.fullscreen_two {
	background-color: brown;
}

.fullscreen_three {
	background-color: chartreuse;
}

.fullscreen_row {
	background-color: coral;
}

.fullscreen_six {
	background-color: darksalmon;
}

.fullscreen_white {
	background-color: #fff;
}

.screen_khaki {
	background-color: #ffc677;
	padding: 200em;
}

.bg-color__black {
	background-color: rgb(23, 17, 17);
}

.bg-color_dark {
	background-color: rgba(55, 55, 55, 0.7);
}

.bg-color_white {
	background-color: #fff;
	/*
	padding: 200em;
	*/
}

.bg-color__purple {
	background-color: blueviolet;
}

.text_black {
	color: #000;
}



.full_block {
	flex: 1 1 auto;
	/*
	width: 50%;
	*/
	max-width: 1000px;
	margin: 0 auto;

	/* делаем всё по центру */
	display: flex;
	flex-direction: column;
	/*
	justify-content: center;
	*/
	/*
	align-self: center;
	*/
	padding: 0 20px;
}

.orange_block {
	background-color: orangered;
}



.flex__blocks {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.flex__block {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 10px;
	padding: 10px 20px;
	background-color: #111;
	border-radius: 30px;
}

.flex__block_circle {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	border: orangered 15px solid;


	display: flex;
	flex-direction: column;
	justify-content: center;
	/* если круг нужен по центру
	align-self: center;
	*/
	text-align: center;
}


.fullscreen__body800,
.fullscreen__body,
.screen__body {
	flex: 1 1 auto;
	width: 100%;

	margin: 0 auto;

	/* делаем всё по центру */
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 0 20px;
}

.fullscreen__body {
	max-width: 1000px;
}

.fullscreen__body800 {
	max-width: 800px;
}



.flex-row {
	flex: 1 1 auto;
	width: 100%;

	max-width: 1200px;

	margin: 0 auto;

	/* делаем всё по центру */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 20px;
}

.flex__body {
	flex: 1 1 auto;
	width: 30%;

	/*
	margin: 0 auto;
	*/
	/* делаем всё по центру */
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	margin-top: 25px;
}

.padding {
	padding: 20px 30px;
}


.services_bg-color {
	background-color: rgb(0, 191, 255);
}

@media (max-width: 800px) {
	.flex-row {
		flex-direction: column;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.flex__body {
		margin-top: 50px;
		width: 100%;
	}
}


.fullscreen__title {
	/*
	font-size: 50px;
	*/
	margin: 0 0 20px 0;
}

.fullscreen__title_h2 {

	font-size: 35px;

	margin: 0 0 20px 0;
}

.fullscreen__title_h3 {

	font-size: 25px;

	margin: 0 0 20px 0;
}

.fullscreen__title_h4 {
	/*
	font-size: 42px;
	*/
	margin: 0 0 20px 0;
}

.fullscreen__text {
	/*
	font-size: 25px;
	*/
	margin: 0 0 20px 0;
}

.header__title {
	/*
	font-size: 50px;
	*/
	margin: 0 0 20px 0;
}

.header__text {
	/*
	font-size: 25px;
	*/
	margin: 0 0 20px 0;
}

.fullscreen__link,
.header__link {
	display: inline-block;
	/*
	line-height: 50px;
	*/

	line-height: calc(5px + 25 * (100vw / 1280));


	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	letter-spacing: 2px;
	/*
	border-radius: 7px;
	*/
}

.autor__link {
	color: #fff;
	padding: 10px 10px;
}

.padding__link {
	padding: 7px 45px;
}



.screen__link {
	display: inline-block;
	line-height: 50px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	letter-spacing: 2px;
	padding: 3px 37px;
}





.link_transparent {
	background-color: transparent;
	border: 1px solid #fff;
	transition: all 0.5s ease 0s;
}

.link_transparent:hover {
	background-color: #fff;
	color: #000;
	border: 1px solid #fff;
	transition: all 0.3s ease 0s;
}

.link_blue {
	background-color: blue;
	border: 1px solid transparent;
	transition: all 0.5s ease 0s;
}

.link_blue:hover {
	background-color: transparent;
	color: blue;
	border: 1px solid blue;
	transition: all 0.3s ease 0s;
}

.link_orange {
	background: #fff;
	color: rgb(0, 191, 255);
	border: 1px solid transparent;
	border-radius: 50px;
	transition: all 0.5s ease 0s;
}

.link_orange:hover {
	background-color: transparent;
	color: orange;
	border: 1px solid orange;
	transition: all 0.3s ease 0s;
}

.link_white {
	background-color: transparent;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 50px;
	transition: all 0.5s ease 0s;
}

.link_white:hover {
	background-color: transparent;
	color: #fff;
	border: 1px solid transparent;
	transition: all 0.3s ease 0s;
}

.link_black {
	background-color: black;
	border: 1px solid transparent;
	transition: all 0.5s ease 0s;
}

.link_black:hover {
	background-color: rgb(196, 133, 167);
	color: #fff;
	border: 1px solid transparent;
	transition: all 0.3s ease 0s;
}

.header__link {
	background-color: brown;
}









/*
.content {}
*/
/*
.content__body {
	max-width: 1000px;
	margin: 0 auto;
	padding: 30px 20px;
}
.header__body {
	max-width: 1000px;
	margin: 0 auto;
	padding: 30px 20px;
}

.footer__body {
	max-width: 1000px;
	margin: 0 auto;
	padding: 30px 20px;
}
*/
.full {
	max-width: 1000px;
	margin: 0 auto;
	padding: 30px 20px;
}

.content__body p {
	margin: 0 0 20px 0;
}




.banner {
	position: relative;
}

.banner-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
	width: 45%;
	padding: 40px 0;
	text-align: center;
	border-top-left-radius: 70px;
	border-bottom-right-radius: 70px;
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
	font-weight: bold;
	border: 10px inset #fff;
}



/*hr линия*/
.hr-shelf {
	margin: -30px auto 10px;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
	width: 95%;
}







.service_circe {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: #fff;

	align-self: center;
}

.circe_img1 {
	background: url('../Foto/wow.webp') center / cover no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.circe_img2 {
	background: url('../Foto/cosmos.webp') center / cover no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.circe_img3 {
	background: url('../Foto/planeta.webp') center / cover no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}





@media (min-width:500px) and (max-width:900px) {
	.banner-text {
		width: 80%;
	}
}

@media (max-width:500px) {
	.banner-text {
		width: 100%;
	}
}










.anchor-up {
	width: 55px;
	height: 55px;
	/*
	background-color: #3f51b5;
	*/
	border-radius: 5%;
	border: 1px rgba(0, 0, 0, 0.20) solid;

	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	bottom: 35px;
	right: 15px;

	transition: all 0.3s ease 0s;
}

.anchor-simbol {
	font-size: 35px;
	color: rgba(255, 255, 255, 0.15);

	transition: all 0.3s ease 0s;
}




.anchor-up:hover {
	background-color: #3f51b5;
	box-shadow: 0px 0px 50px #3f51b5;
	transition: all 0.3s ease 0s;
}

.anchor-up:hover .anchor-simbol {
	color: rgba(255, 255, 255);
	transition: all 0.3s ease 0s;
}









.hover_underline {
	transition: all 0.3s ease 0s;
}

.hover_underline:hover {
	text-decoration: underline;
	transition: all 0.3s ease 0s;
}

.hover_blue:hover {
	color: #3f51b5;
	transition: all 0.3s ease 0s;
}




.flex {
	display: flex;
	align-items: center;
}

.letter-space {
	letter-spacing: 7px;
}



/*** menu ***/
.menu {
	position: absolute;
	top: 0;
	/*
	height: 50px;
	*/
	width: 100%;

	display: flex;
	justify-content: space-between;
}

/*** Шестиугольник ***/
.cube-rel {
	position: relative;
}

.cube {
	clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
	background-color: rgba(220, 220, 220, 0.5);
	color: #000;
	/*
	width: 47vw;
	height: 77vh;
	*/

	width: calc(200px + 375 * (100vw / 1280));
	height: calc(200px + 300 * (100vw / 1280));

	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	bottom: -10%;
	left: 10%;
	z-index: 1;
}

.text {
	padding: 50px;
	width: 80%;
	height: 80%;
}


.column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text-center {
	text-align: center;
}



@media (max-width:800px) {
	.text {
		padding: 50px;
		width: 90%;
		height: 80%;
	}

	.letter-space {
		letter-spacing: 0px;
	}

	.fullscreen__link,
	.fullscreen__link {
		padding: 2px 5px;
		line-height: 20px;
	}


	/*
	.cube {
		width: calc(200px + 375 * (100vw / 1280));
		height: calc(200px + 375 * (100vw / 1280));

		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: -10%;
		left: 0%;
	}
	*/

	.autor {
		position: absolute;
		right: 35%;
		bottom: 75%;
		text-shadow: 0px 0px 7px #000;
		z-index: 5;
	}
}

@media (max-width: 395px) {
	.cube {
		width: calc(200px + 390 * (100vw / 1280));
		height: calc(200px + 500 * (100vw / 1280));
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: -10%;
		left: 0%;
	}

	.menu {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-self: center;
	}

	.links {
		display: flex;
		flex-direction: column;
	}

	.screen__link {
		width: 100%;
	}

	.autor {
		position: absolute;
		right: 25%;
		bottom: 60%;
		text-shadow: 0px 0px 7px #000;
		z-index: 5;
	}
}



.text__bold {
	font-weight: 800;
}


@media (min-width:520px) {
	.autor {
		position: absolute;
		right: 0%;
		bottom: 5%;
		z-index: 5;
	}
}